.landing-page {
  --back: rgb(216, 216, 216);
  --font:  rgb(22, 22, 22);
}

.langing-grid {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.avatar-image {
  height: 270px;
  padding: 6em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.landing-banner{
  background-color: var(--back, rgb(216, 216, 216));
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.banner-text {
  font-size: 45px;
  padding: 0.5em;
  font-weight: bold;
  color:  rgb(22, 22, 22);
}

.landing-banner hr {
  border-top: 5px dotted var(--font, rgb(22, 22, 22));
  opacity: .5;
  width: 50%;
  margin: auto;
}

.landing-banner p {
  color: var(--font, rgb(22, 22, 22));
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin:auto;
  }

.social-links a {
  color: var(--font, rgb(22, 22, 22));
  font-size: 4em;
  padding: 8px;
}

@media (max-width: 500px) {
  .avatar-image {
    height: 250px;
    padding: 1em;
  }
  .banner-text {
    font-size: 35px;
    padding: 0.5em;
    font-weight: bold;
  }
  .social-links{
    justify-content: center;
    }
  
}